.panel {
    background-color: rgba(2, 0, 3, 0.815);
    /*background-image: url(../../../assets/imagenes/header.jpg);*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    border-color: black;
    border-bottom-color: yellowgreen;
    position: fixed; 
    font-family: 'Orbitron', sans-serif;
            font-size: 11pt; 
            text-align: center; 
            padding: 10px 5px 5px 5px;    /* margen con valores: arriba - derecha - abajo - izquierda */  
            top: 0px;                    /* Distancia hasta el borde superior */ 
    left: 0px;            /* Distancia hasta el borde izquierdo */
        width: 100%; 
        z-index: 1;               /* hace que la capa sea opaca  */ 
}

h1 {
    color: rgb(30, 180, 218)/*#f4511e*/;
    text-shadow: 4px 4px 4px darkgrey;
    font-size:35px; 
    text-align: center;
}

p {
    padding-left: 30px;
    /*color: whitesmoke;*/
}

a {
    padding-left: 30px;
    color: rgb(30, 180, 218);
}
